// .arearoot {
//     position: relative;
//     background:#333;
//     height:100%;
//     display: flex;

//     flex-direction: column;
//     align-items: stretch;
//     box-shadow: 0 0 10px;
// }


.btn {
    background-color: #025B80;
    border: none;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    width: 90px;
  }