#canvas .overlay .focus-bar {
    position: absolute;
    pointer-events: all;
    white-space: nowrap;
    top: 78px;
    left: 15px;
    height: 20px;
    background-color: #3E8CE4;
    border-radius: 2px 2px 0 0;
}