body {margin: 0px; padding: 0px; background: black;}
html {margin: 0px; padding: 0px; width:100%; height: 100%;box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

.container {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}
