<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">
    <script src="ext.button.prod.js"></script>
    <link rel="stylesheet" type="text/css" href="ext.button.css">
    <script>
        Ext.onReady(function () {
            var props = {
                xtype: 'button',
                text: 'hi',
                renderTo: document.body
            }
            Ext.create(props)
        })
    </script>
</head>
<body></body>

</html>
